{{define "Page"}}
    <div class="flex flex-grow pt-40 justify-center ">
        {{template "QA" .}}
    </div>
{{end}}

{{define "QA"}}
    <p1 class="text-4xl text-blue-500 font-bold">HELP YOURSELF</p1>
{{end}}